body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0b0f1a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: transparent;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.nav-btn {
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 5px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero-text {
  max-width: 500px;
}

.tag {
  background: purple;
  padding: 5px 10px;
  border-radius: 5px;
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #6366f1;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

.hero-img img {
  width: 300px;
  animation: float 3s ease-in-out infinite;
}

/* FLOAT ANIMATION */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

/* SECTIONS */
section {
  padding: 40px;
}

/* SKILLS */
.skills {
  display: flex;
  gap: 10px;
}

.skill {
  background: #1e293b;
  padding: 10px 15px;
  border-radius: 10px;
}

/* PROJECT */
.project {
  background: #1e293b;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.project a {
  color: #38bdf8;
}
